body{}
div.Bio {
    background-color: grey;
    width: 250px;
    height: 250px;
    border: 15px;
    text-align: center;
  }
  div.education {
    background-color: lightslategray;
    width: 250px;
    height: 250px;
    border: 15px;
    margin-left: 250px;
  }
  div.Photo {
    background-color:lightskyblue;
    width: 300px;
    height: 250px;
    border: 15px;
    position: absolute;
    left: 507px;
  }
  div.ContactMe {
    background-color: wheat;
    width: 300px;
    height: 250px;
    border: 15px;
    margin-left: 500px;
  }
  div.Hobbies {
    background-color: paleturquoise;
    width: 250px;
    height: 250px;
    border: 15px;
    position: relative;
    bottom: 250px;

  }
  
  